<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_VMHostService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/VMHostService/service"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_VMHostService"
                contract="VMHostService" name="WSHttpBinding_VMHostService">
                <identity>
                    <servicePrincipalName value="host/pengliu-Work-PC" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>