<?xml version="1.0"?>
<configuration>
  <!--For DB connection-->
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="ReportingSiteEntities" connectionString="metadata=res://*/VMModel.csdl|res://*/VMModel.ssdl|res://*/VMModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.35.33;initial catalog=ReportingSite;persist security info=True;user id=PengLiu;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>

  <!--For WCF Service-->
  <system.serviceModel>
    <services>
      <service name="VMWareController.Service.VMHostService" behaviorConfiguration="VMHostServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/VMHostService/service"/>
          </baseAddresses>
        </host>
        <!-- this endpoint is exposed at the base address provided by host: http://localhost:8000/VMHostService/service  -->
        <endpoint address="" binding="wsHttpBinding" contract="VMWareController.Service.IVMHostService"/>
        <!-- the mex endpoint is exposed at http://localhost:8000/VMHostService/service/mex -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="VMHostServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <!--For VMHost controller Service-->
  <appSettings>
    <add key="VMStatusFrequency" value="1000"/>
    <add key="SnapshotName" value="cleaninstall"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
