<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <!--For DB connection-->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

    <!--For log4net-->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net-net-1.2" />
  </configSections>
  <connectionStrings>
    <add name="ReportingSiteEntities" connectionString="metadata=res://*/VMModel.csdl|res://*/VMModel.ssdl|res://*/VMModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.35.33;initial catalog=ReportingSite;persist security info=True;user id=PengLiu;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>

  <!--For WCF Service-->
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="BingdingForTimeoutAndSecurity" 
                 openTimeout="00:10:00"
                 closeTimeout="00:10:00"
                 sendTimeout="00:10:00"
                 receiveTimeout="00:10:00">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service name="VMWareController.Service.VMHostService"
               behaviorConfiguration="VMHostServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/VMHostService/service"/>
          </baseAddresses>
        </host>
        <!-- this endpoint is exposed at the base address provided by host: http://localhost:8000/VMHostService/service  -->
        <endpoint address=""
          binding="wsHttpBinding"
          bindingConfiguration="BingdingForTimeoutAndSecurity"
          contract="VMWareController.Service.IVMHostService" />
        <!-- the mex endpoint is exposed at http://localhost:8000/VMHostService/service/mex -->
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="VMHostServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <!--For VMHost controller Service-->
  <appSettings>
    <add key="VMStatusFrequency" value="5000" />
    <add key="SnapshotName" value="cleaninstall" />
  </appSettings>

  <!--For Log-->
  <log4net>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="LogFileAppenderByDate" />
      <appender-ref ref="ConsoleAppender" />
    </root>

    <logger name="testApp.Logging">
      <level value="DEBUG"/>
    </logger>

    <appender name="LogFileAppenderByDate" type="log4net.Appender.RollingFileAppender" >
      <param name="AppendToFile" value="true" />
      <param name="LockingModel" value="log4net.Appender.FileAppender.MinimalLock" />
      <param name="StaticLogFileName" value="true" />
      <param name="File" value="C:\\VMHostControllerLog\\" />
      <param name="DatePattern" value="yyyy-MM-dd.LOG" />
      <param name="StaticLogFileName" value="false" />
      <param name="RollingStyle" value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="DateTime:%d%nLevel:%level %nThread:%t%nLogger:%c%nSource:%F Line:%L%nContent:%m%n-----------------------------------------%n%n" />
      </layout>
    </appender>

    <appender name="ConsoleAppender"
              type="log4net.Appender.ConsoleAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern"
           value="%d [%t] %-5p %c [%x] - %m%n"
        />
      </layout>
    </appender>
  </log4net>
</configuration>